body{

	margin:50px;
	/*font-family: Arial;*/
	/*font-family: 'Open Sans';*/
	font-family: 'Segoe UI';
}
h1 {
font-size: 21px;
padding-bottom: 5px;

}

p{

font-size: 15px;
line-height: 22px;
width:800px;

}

